@font-face {
  font-family: 'Geist';
  src: url('/assets/fonts/geist/Geist[wght].woff2') format('woff2');
  font-weight: 100 900; /* Defines the weight range */
}

body {
  font-family: 'Geist';
  font-variation-settings: 'wght' 400; /* Sets a specific weight */
}
@font-face {
  font-family: 'GeistMono';
  src: url('/assets/fonts/geist_mono/Geist[wght].woff2') format('woff2');
  font-weight: 100 900; /* Defines the weight range */
}

code {
  font-family: 'GeistMono', monospace;
  font-variation-settings: 'wght' 400; /* Sets a specific weight */
}

@font-face {
  font-family: 'Redhat';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local(''),
    url('/assets/fonts/redhat/red-hat-display-v7-latin-900.woff2') format('woff2');
}