@font-face {
  font-family: 'AtkinsonHyperlegible Mono';
  src: url('/assets/fonts/AtkinsonHyperlegibleMonoVF-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AtkinsonHyperlegibleNextVF-Variable.woff2';
  src: url('/assets/fonts/AtkinsonHyperlegibleNextVF-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}