{% set assetHash = helpers.random() %}

<!doctype html>
<html lang="{{ meta.lang }}">
  <!-- The order of elements in the head follows recommendations by Harry Roberts. learn more here: https://www.youtube.com/watch?v=MHyAOZ45vnU -->

  <head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cloudinary-core/2.12.3/cloudinary-core-shrinkwrap.js" integrity="sha512-KMNn99TvNv6bP4D0H1gNhpVSAf5xds74pMwodUgdMcBUkhDn4Wy0bVXPWs+R/dKJU9HKCQg/9ddC9Ji91OsL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- 1 charset/viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 2 title -->
    <title>
      {%- if title -%}
        {{- title -}}
      {%- else -%}
        {{- meta.siteName -}}
      {%- endif -%}
    </title>

    <base href="{{ page.url }}" />

    <!-- 3 synchronous js  -->
    {% include "head/js-inline.njk" %}

    <!-- 4 schema settings -->
    {% include "head/schema.njk" %}

    <!-- 5 CSS  -->
    <!-- <link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" /> -->
    {% include "head/css-inline.njk" %}

    <!-- 6 preloads  -->
    {% include "head/preloads.njk" %}

    <!-- 7 defer  -->
    {% include "head/js-defer.njk" %}

    <!-- 8 meta tags, icons, open graph etc.  -->
    {% include "head/meta-info.njk" %}
  </head>

  <body class="{{ layout }}">
    {% include "partials/header.njk" %}

    <main id="main" class="flow">{{ content | safe }}</main>

    {% include "partials/footer.njk" %}
    <script type="module" src="/assets/scripts/components/custom-easteregg.js"></script>
    <custom-easteregg></custom-easteregg>
  </body>
  <script type="text/javascript">
      my_breakpoints = function (width){  // width - the current width of the containing element
        return 50 * Math.ceil(width / 50);
      }
      var cl = cloudinary.Cloudinary.new({cloud_name: "paulapplegate-com"}); 
      // replace 'demo' with your cloud name in the line above 
      cl.config({breakpoints:my_breakpoints, responsive_use_breakpoints:"resize"})
      cl.responsive();
  </script>
</html>
