---
layout: base
title: Home
---

<main class="home-content">
  <div class="container">
    <section class="intro">
      <h1 class="intro-title">{{ site.title }}</h1>
      <p class="intro-description">{{ site.description }}</p>
    </section>

    <section class="posts">
      <h2 class="posts-heading">Latest Posts</h2>
      
      {% assign posts = collections.posts | reverse %}
      {% for post in posts %}
      <article class="post-card">
        <div class="post-card__content">
          <h3 class="post-card__title">
            <a href="{{ post.url }}">{{ post.data.title }}</a>
          </h3>
          <time class="post-card__date" datetime="{{ post.date | date: '%Y-%m-%d' }}">
            {{ post.date | date: "%B %d, %Y" }}
          </time>
          {% if post.data.description %}
          <p class="post-card__excerpt">{{ post.data.description }}</p>
          {% else %}
          <p class="post-card__excerpt">{{ post.templateContent | strip_html | truncate: 150 }}</p>
          {% endif %}
          <a href="{{ post.url }}" class="post-card__link">Read more</a>
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
</main>